
*.RData
*.Rhistory
*.Rapp.history
.DS_Store
fastp_output/
fastp_reports/
Notes/
dada2_output/
scripts/dada2_automated/test.sh

# Ignore raw and processed sequencing data
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.fa

# Ignore logs
logs/
*.log
*.err
*.out